<h3>About</h3>

<p>
  rə Warper is an open source and free-to-use tool that lets users
  georectify images of maps.  It is specifically designed for use with
  scans of old maps that predate the use of computers for cartograpy,
  or the invention of computers altogether.
</p>

<p>
  Historical maps often use coordinate systems that
  are different from the typical ones used in modern digital
  cartography.  This creates a challenge when trying to import such
  maps into digital cartography systems -- even after the map has been
  scanned from its paper form into a digital image, the objects in the
  image don't usually align correctly with the corresponding features
  in a digital map without distorting the map image in some way.  The
  process of distoring the image to cause it to correctly line up with
  a digital cartographic coordinate system is called "warping". rə
  Warper facilitates this warping process: users can upload a map
  image, place control points to align known location in the image
  with features in the real world, and then export the warped map in
  any of several open digital formats which can be used in other
  mapping applicatiions.
</p>

<p>
  All data exported from rə Warper is freely available under
  the terms of the <a href="http://opendatacommons.org/licenses/odbl/1.0/">ODbL</a>
  license.  See the <%= link_to "FAQ page", faq_path %> for more details.
</p>
  
<p>
  rə Warper is an open source project by Google.  The source
  code is available at
  <a href="https://github.com/kartta-labs/mapwarper">https://github.com/kartta-labs/mapwarper</a>.
  It is based on the open source project
  <a href="https://github.com/timwaters/mapwarper">https://github.com/timwaters/mapwarper</a>, and contains
  customizations needed to associate a point in time with each map.  In particular, rə Warper can support
  creating time-based map systems that represent the change in geographics features such as buildings, roads, etc over
  time.
</p>

<p>
  Contact <a href="mailto:re-contact@google.com">re-contact@google.com</a> for more information or issues.
</p>
