/* undo h1 background style from main.css.scss? */
header.hms-common h1 {
  background: none;
}



#bodyfiller {
  background-color: #e2dfc0;
  height: 500px;
}

body {
  box-sizing: border-box;
  border: 0;
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.6666;
  color: #222;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  text-align: left;
  height: 100%;
}

header.hms-common {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  height: 55px;
  position: relative;
  z-index: 1001;
  font-size: 14px;
  border-bottom: 1px solid black;
}

header.hms-common h1 {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  border: 0;
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
  height: 100%;
  padding: 10px;
  display: inline-block;
  float: left;
  margin: 0;
  padding-top: 15px;
}

header.hms-common h1 a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  color: #000;
}

header.hms-common h1 picture {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
  color: #000;
  box-sizing: border-box;
}

header.hms-common h1 picture source {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
  color: #000;
  box-sizing: border-box;
}

header.hms-common h1 picture img {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  font-size: 18px;
  color: #000;
  box-sizing: border-box;
  border: 0;
  width: 116px;
  height: 42px;
  margin-top: -8px;
  vertical-align: middle;
}


header.hms-common nav.primary {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  display: inline-block;
  float: left;
}

header.hms-common nav.primary ul {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: inline-block;
  border: 1px solid #0459bf;
  border-radius: 8px;
}

header.hms-common nav.primary ul li {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  position: relative;
  display: inline-block;
  border-right: 1px solid #0459bf;
  float: left;
}

header.hms-common nav.primary ul li a.editlink {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: #0459bf;
  padding: 5px 15px;
  border-right: 1px solid #60a7fc;
}


header.hms-common nav.primary ul li a.hms-dropdown-toggle {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: #0459bf;
  padding: 5px 6px;
}

header.hms-common nav.primary ul li a.hms-dropdown-toggle b {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  color: #0459bf;
  box-sizing: border-box;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 2px;
  border-top-color: #0459bf;
  margin-top: 10px;
}


header.hms-common #edit_tab > ul {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  font-size: 100%;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0 3px 3px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}

header.hms-common #edit_tab > ul > li:nth-child(1) {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
}

header.hms-common #edit_tab > ul > li:nth-child(1) > a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}


header.hms-common nav.primary ul li {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  display: inline-block;
  border-right: 1px solid #0459bf;
  float: left;
}

header.hms-common nav.primary ul li a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  color: #0459bf;
  padding: 5px 15px;
}

header.hms-common nav.primary ul li:last-child {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  display: inline-block;
  float: left;
  border-right: 0;
}

header.hms-common  nav.secondary {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  display: inline-block;
  position: absolute;
  right: 0;
}

header.hms-common  nav.secondary ul {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

header.hms-common  nav.secondary ul li {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  display: inline-block;
}

header.hms-common  nav.secondary ul li a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
  text-decoration: none;
  color: #888;
  padding: 5px;
}

header.hms-common  nav.secondary ul li a:hover,
header.hms-common  nav.secondary div.dropdown.user-menu.logged-in a.hms-dropdown-toggle span.user-button span.username:hover,
header.hms-common  nav.secondary ul.user-menu li.compact-hide a:hover {
  color: black;
}

header.hms-common  nav.secondary ul.user-menu {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #CCC;
  border-radius: 8px;
  margin-left: 10px;
}

header.hms-common  nav.secondary ul.user-menu li {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  display: inline-block;
  border-right: 1px solid #CCC;
  float: left;
}

header.hms-common  nav.secondary ul.user-menu li a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  display: inline-block;
  text-decoration: none;
  color: #888;
  padding: 5px 15px;
  border-radius: 8px 0 0 8px;
}



header.hms-common > nav.secondary > div.user-menu.logged-in {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 8px;
  margin-left: 10px;
}

header.hms-common > nav.secondary > div.user-menu.logged-in a.hms-dropdown-toggle {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  color: #24d;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  padding: 0;
}

header.hms-common > nav.secondary > div.user-menu.logged-in a.hms-dropdown-toggle img {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  text-align: left;
  font-size: 14px;
  color: #24d;
  box-sizing: border-box;
  width: auto;
  height: auto;
  max-width: 25px;
  max-height: 25px;
  border: 0;
  vertical-align: top;
  margin-top: 0px;
  margin: 4px 0 0 4px;
  border-radius: 2px;
}


header.hms-common > nav.secondary > div.user-menu.logged-in a.hms-dropdown-toggle span.user-button {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1.8;
  padding: 5px 10px 3px 6px;
  display: inline-block;
  color: #888;
}

header.hms-common > nav.secondary > div.user-menu.logged-in a.hms-dropdown-toggle span.user-button span.username {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.8;
  color: #888;
  box-sizing: border-box;
}

header.hms-common > nav.secondary > div.user-menu.logged-in a.hms-dropdown-toggle span.user-button b {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.8;
  color: #888;
  box-sizing: border-box;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 2px;
  border-top-color: #CCC;
  margin-top: 9px;
}

header.hms-common > nav.secondary > div.user-menu.logged-in ul.dropdown-menu {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  text-align: left;
  box-sizing: border-box;
  font-size: 100%;
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
  left: auto;
  right: -1px;
  border-radius: 3px 0 3px 3px;
}


header.hms-common > nav.secondary > div.user-menu.logged-in ul.dropdown-menu li {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
}

header.hms-common > nav.secondary > div.user-menu.logged-in ul.dropdown-menu li a {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: 0;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
  padding: 5px 15px;
}

header.hms-common > nav.secondary > div.user-menu.logged-in ul.dropdown-menu li.divider {
  font: 14px/20px "Helvetica Neue", Arial, sans-serif;
  font-family: 'Helvetica Neue',Arial,sans-serif;
  line-height: 1.6666;
  color: #222;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  list-style: none;
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  display: block;
}



header.hms-common > nav.secondary > div.dropdown.user-menu.logged-in.open ul.dropdown-menu {
  display: block;
}
